@media screen and (max-width:1399px) {
    .text_wrapper {
        height: 350px !important;
    }
}

@media screen and (max-width:1200px) {

    .box1 h2 {
        margin-top: 10px;
    }

    .social_profile ul li a {
        font-size: 18px;
        width: 45px;
        height: 45px;
        line-height: 47px;
    }

    .copyright {
        margin-top: 20px;
        padding-top: 10px;
    }

    .same_box h1 {
        font-size: 35px;
    }

    .same_box p {
        font-size: 16px;

    }

}

@media (max-width: 991px) {


    .banner-text h1 {
        font-size: 35px;
        
    }

    .single_footer {
        margin-bottom: 50px;
    }

    .single_footer h4 {
        margin-bottom: 20px;
    }

    .single_footer p {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    

    a.button_main {
        padding: 10px 20px 10px 20px;
    }

    .casino {
        margin-bottom: 40px;
    }

    .banner_box h1 {
        font-size: 32px;
    }

    .banner__text h1 {
        font-size: 32px;
        padding: 30px 10px;
    }

    .home_detail {
        padding: 20px 0;
    }

    .three_steps {
        padding: 20px 0;
    }

    .form-control {
        width: 70%;

    }

    .banner_head:after {
        width: 41%;
    }

    .casino_heading.overlay span {
        font-size: 60px;
    }

    .single_footer h4 {
        margin-bottom: 10px;
    }

    .single_footer {
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    body.toggle .navlink {
        width: 100%;

    }

    .navbar .navlink {
        margin-left: 0px;
    }

    .box img {
        width: 90px;
    }

    .row.upcoming_aside {
        padding-left: 20px;
        margin-left: 20px;

    }

    .row.upcoming_aside h3 {
        font-size: 28px;
    }

    .refer_inner>img {
        width: 100%;
    }

    .gallery.mb-2 {
        height: auto;
    }

    .simple-section {
        padding: 20px 0;
    }

    .inner_div {
        height: auto;

    }

    .detail_section {
        padding: 20px 0;
    }

    .hotel_accordian {
        padding: 20px 0;
    }

    .aside-image img {
        height: 270px;
    }

    .aside-image {
        text-align: center;
    }

    .hotel_btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        justify-content: center;
    }

    .casino_heading.overlay span {
        font-size: 45px;
    }

    .casino-img {
        height: 250px;
    }

    .footer .container {
        padding: 20px;
    }

    .detail_img img {
        height: 300px;
    }

    .hotel_img img {
        height: 250px;
    }
}